# Web Framework
fastapi
uvicorn[standard]
requests

# Database & ORM
SQLAlchemy
alembic
psycopg2-binary

#fhir
fhir.resources

# Data Validation & Settings
pydantic
pydantic-settings
pydantic[email]

# Security & Authentication
passlib[bcrypt]
python-jose[cryptography]
Authlib
python-multipart

# Asynchronous Tasks
celery
redis

# Observability
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
structlog
sentry-sdk

# linter 
flake8

# Pre-commit hooks
pre-commit

bcrypt==3.2.0

# Search
meilisearch

# Observability
structlog
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
sentry-sdk